<h1>{{title}}</h1>

<!-- <app-labsoverview></app-labsoverview> -->
<!-- neue Zuweisung funktioniert auf solche Weise nicht -->
<p [title]="'neuer Wert für Title'">{{title}}</p>
<!-- <app-todosoverview></app-todosoverview> -->

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/labs">LABS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/todos">TODOS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/directives">DIRECTIVES</a>
  </li>
</ul>

<router-outlet></router-outlet>
